<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Edit</title>
</head>
<body>
    <div clas="topnav"> <br>
    <nav class="navMenu">
        <a href="/recipes"> <button>Home</button></a>
        <a href="/recipes"><button>Recipes</button></a>
        <!-- <a href="#">About</a> -->
        <a href="/recipes"><button>Back</button></a>
        <!-- <div class="dot"></div> -->
      </nav>
    </div>
    <!-- <a href="/recipes"> <button>Back</button></a> -->

    <h1 class="edittitle">Edit Recipe</h1>
    <div class="containeredit">
    <div class="showcard">
    <form action="/recipes/<%=recipes._id %>?_method=PUT" method="POST">
      name: <br>
      <input type="text" name="name" value="<%=recipes.name%>" /><br />
      description: <br>
      <input type="text" name="description" value="<%=recipes.description%>" /><br />
      img:<br>
       <input type="url" name="img" value="<%= recipes.img %> "> <br />
      
       <textarea name="instructions" id="" cols="30" rows="5" placeholder="Instruction for preparation" 
        valu="<%= recipes.ingredients %>"></textarea> <br />
       
       instructions: <br />
        <textarea name="instructions" id="" cols="30" rows="5" placeholder="Instruction for preparation" 
        valu="<%= recipes.instructions %>"></textarea> <br />
        <button>Submit changes</button>

    </form>
    </div>
</div>
</body>
</html>