<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Show</title>
</head>
<body>
    <nav>
        <a href="/recipes">
            <button>Back</button>
        </a>
    </nav>
    <div class="blockname">
        <h2><%=recipes.name %> </h2>
    </div>

    <div id="showimg">
    <img src=<%=recipes.img %>> <br>
    </div>
    <%=recipes.description %> <br>
    <h3>INGREDIENTS</h3>
    <ul>
    <% recipes.ingredients.split(",").forEach((ingredient)=>{ %> 
        <li><%= ingredient %> </li>
        <% }) %> 
    </ul>
    <h3>INSTRUCTIONS</h3>
    <ol>
        <% recipes.instructions.split(".").forEach((instruction)=>{ %> 
            <li><%= instruction %> </li>
            <% }) %> 
    </ol>
    <form action="/recipes/<%= recipes._id %>?_method=DELETE" method="POST">
       <br> <button type="submit">Delete</button><br />
    </form>
    
      <a href="/recipes/<%= recipes._id %>/edit ">
      <br>  <button>Edit</button></a>
</body>
</html>